/* global */
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
}

/*---- Top Section ------*/

header {
  background-color: #3E2A36;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #FFF;
  font-size: 2em;
  font-weight: 800;
}

.logo {
  height: 1em;
  margin: 0 7px;
}

.search-form {
  display: flex;
  height: 40px;
  margin: 21.44px 30px 0 0;
}

.search-input {
  border-radius: 5px 0 0 5px;
  border: solid 2px #C1B2B3;
  font-size: 32px;
  height: 45px;
  padding: 10px 15px;
  width: 90%;
}

.search-btn {
  background-color: #C1B2B3;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #C1B2B3;
  color: #FFF;
  height: 45px;
  width: 45px;
}

.top-section {
  background-color: #3E2A36;
  display: flex;
  height: 320px;
  justify-content: center;
}

.input-form {
  display: flex;
  max-width: 700px;
  width: 70%;
  flex-direction: column;
}

label {
  color: #C1B2B3;
}

.buttons button {
  background-color: #5B4647;
  color: #FFF;
  border: none;
  height: 45px;
}

input {
  height: 45px;
}

/*---- Bottom Section ------*/

.card-section {
  background-color: #C1B2B3;
  height: 1000px;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-template-rows: auto;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.card {
  background-color: #FFF;
  border: solid 2px #d4d2d8; 
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  width: 230px;
}

.card-btn {
  background-color: #5b4447;
  display: flex;
  height: 50px;
}

.card-btn button {
  width: 100%;
  border: none;
} 

.trash-btn {
  background: url(images/delete.svg) no-repeat center;
}

.favorite-btn {
  background: url(images/favorite.svg) no-repeat center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}