/* global */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: #3E2A35;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}

/*-------- Header area ------------*/

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

h1 img {
  display: inline;
  height: 35px;
  margin: 0 10px -1px 10px;
}

#search-bar {
  align-items: center;
  background-color: #C2B2B4;
  border-radius: 5px;
  border: 2px solid #C2B2B4;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  width: 300px;
}

#search-input {
  border-radius: 5px 0 0 5px;
  border-style: none;
  color: grey;
  font-size: 17px;
  font-weight: 600;
  height: 100%;
  padding-left: 10px;
  width: 90%;
}

#search-bar p {
  display: inline;
  height: 100%;
  text-align: center;
  width: 10%;
}

.search-icon {
  color: white;
  line-height: 30px;
}

.search-btn {
  background-color: #C2B2B4;
  border: none;
}

/*-------- Input area ------------*/

input[type='text'] {
  color: grey;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}

.input-wrapper {
  margin: 15px auto;
  position: relative;
  width: 50%;
}

.input-wrapper > * {
  display: block;
  width: 100%;
}

label {
  color: #C2B2B4;
  font-size: 20px;
  padding-bottom: 10px;
}

input:focus,
button:focus {
  outline: 0;
}

#image-upload {
  display: none;
}

button {
  background-color:#5B4447;
  border: none;
  height: 39px;
  padding: 0;
}

.favorite-btn {
  background-image: url("images/favorite.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
}

.favorite-active-svg {
  background-image: url("images/favorite-active.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
}

.delete-btn {
  background-image: url("images/delete.svg") no-repeat contain;
  height: 45px;
  width: 45px;
}

.delete-btn:hover {
  background-image: url("images/delete-active.svg");
}

.image-upload-label {
  align-items: center;
  background-color: #5B4447;
  color: inherit;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 40px auto;
  padding-bottom: 0;
  width: 50%;
}

.image-upload-label:hover {
  cursor: pointer;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.form-button-container > button {
  background-color: #5B4447;
  border: 0;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 42.5%;
}

button:hover {
  cursor: pointer;
}

#input-area {
  padding-bottom: 40px;
}

.hidden {
  display: none;
}

/*-------- Photo area ------------*/

.photo-area-text {
  color: #FFF;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  margin-top: 240px;
  width: 100%;
}

main {
  align-items:center;
  background-color: #C2B2B4;
  border: 1px #C2B2B4 solid;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 250px);
  height: 100%;
  justify-content: center;
  min-height: 55vh;
  padding: 30px 50px;
}

p {
  color: black;
}

.photo-card {
  background-color: white;
  border: #938284 1px solid;
  display:flex;
  flex-direction: column;
  height: 380px;
  min-width: 250px;
  width: 250px;
}

.photo-title {
  align-items:center;
  color: #3E2A35;
  display:flex;
  font-size: 18px;
  height: 30%;
  margin: 10px 10px;
  max-height: 21px;
}

.uploaded-photo {
  background-position: contain;
  max-height: 190px;
  min-height: 190px;
  width:100%;
}

.photo-caption {
  color: #3E2A35;
  font-size: 18px;
  height: 100px;
  line-height: 25px;
  margin: 10px;
  padding: 0;
}

.photo-caption:focus {
  outline: 10;
}

.card-button-container {
  align-items: center;
  background-color: #584547;
  display: flex;
  height: 12%;
  justify-content: space-between;
  padding: 0 15px;
}

.card-button-container label:hover {
  cursor: pointer;
}

.btn:hover {
  background-color: #938284;
}

#add-to-album-btn:active {
  background-color: #3E2A35;
}

#add-to-album-btn:disabled {
  background-color: #C2B2B4;
  cursor: auto;
}

.show-more-btn,
.show-less-btn {
  margin-bottom: 0;
}

.delete-btn {
  background: url(images/delete.svg) left center no-repeat;
  height: 35px;
}

/*-------- Media Queries ---------------*/

@media only screen and (max-width: 1150px) {
  main {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 850px) {
  main {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 768px) {

  .photo-area-text {
    font-size: 30px;
  }

  .fas {
    margin-right: 5px;
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  #search-bar {
    width: 60%;
    margin-bottom: 25px;
  }

  h1 {
    margin-left: 0;
  }

  #photo-area {
    justify-content: center;
  }

  .form-button-container > * {
    width: 100%;
  }

  #save-btn {
    margin-bottom: 15px;
  }

  #search-bar,
  .input-wrapper,
  .image-upload-label,
  .form-button-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: auto;
  } 
}

@media only screen and (max-width: 375px) {

  h1 {
    font-size: 2em;
  }
}