/* global */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: #3E2A35;
  color: white;
  font-family: 'Open Sans';
  font-size: 15px;
  margin: 0;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

h1 img {
  display: inline;
  height: 35px;
  margin: 0 10px -1px 10px;
}

#search-bar {
  align-items: center;
  background-color: #C2B2B4;
  border-radius: 5px;
  border: 2px solid #C2B2B4;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  width: 300px;
}

#search-input {
  border-radius: 5px 0 0 5px;
  border-style: none;
  color: grey;
  font-size: 17px;
  font-weight: 600;
  height: 100%;
  padding-left: 10px;
  width: 90%;
}

#search-bar p {
  display: inline;
  height: 100%;
  text-align: center;
  width: 10%;
}

.search-icon {
  color: white;
  line-height: 30px;
}

.search-btn {
  background-color: #C2B2B4;
  border: none;
}

input[type='text'] {
  color: grey;
  font-size: 20px;
  height: 50px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}

.input-wrapper {
  margin: 15px auto;
  position: relative;
  width: 60%;
}

.input-wrapper > * {
  display: block;
  width: 100%;
}

label {
  color:  #C2B2B4;
  font-size: 20px;
  padding-bottom: 10px;
}

input:focus,
button:focus {
  outline: 0;
}

#image-upload {
  display: none;
}

#image-upload-label {
  align-items: center;
  background-color: #5B4447;
  color: inherit;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 0;
  width: 60%;
}

#image-upload-label:hover {
  cursor: pointer;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.form-button-container > button {
  background-color: #5B4447;
  border: 0;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 42.5%;
}

button:hover {
  cursor: pointer;
}

#input-area {
  padding-bottom: 40px;
}


/* Photos area */

#photo-area {
  background-color: #C2B2B4;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  min-height: 60vh;
  padding: 25px 40px;
}

#photo-area .wrapper {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, 300px);
}

p {
  color: black;
}

.photo-card {
  background-color: #FFFFFF;
  border: 2px #938284 solid;
  height: 415px;
  margin: 20px;
  min-width: 295px;
  position: relative;
  width: 22%;
}

.photo-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 10px 15px;
}

.uploaded-photo {
  object-fit: contain;
  width: 100%;
}

.photo-caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 auto 10px 0;
  overflow-y: auto;
  overflow: hidden;
  padding: 5px 15px;
}

.photo-caption:focus {
  outline: 10;
}

.photo-caption p {
  margin: 0;
}

.card-button-container {
  align-items: center;
  background-color: #5B4447;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding: 0 15px;
  position: absolute;
  width: 100%;
}


.card-button-container img {
  height: 30px;
}

.card-button-container img:hover {
  cursor: pointer;
}

button:hover,
#image-upload-label:hover {
  background-color: #938284;
}

#add-to-album-btn:active {
  background-color: #3E2A35;
}

#add-to-album-btn:disabled {
  background-color: #C2B2B4;
  cursor: auto;
}

@media only screen and (max-width: 768px) {

  header {
    flex-direction: column;
    padding: 0;
  }

  #search-bar {
    width: 60%;
  }

  h1 {
    margin-left: 0;
  }

  #photo-area {
    justify-content: center;
  }

  #image-upload-label {
    margin-bottom: 15px;
  }

  .form-button-container > * {
    width: 100%;
  }

  #save-btn {
    margin-bottom: 15px;
  }

  #search-bar,
  .input-wrapper,
  #image-upload-label,
  .form-button-container {
    width: 80%;
  }
}


@media only screen and (max-width: 375px) {

  h1 {
    font-size: 2em;
  }
}